<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoanBrokerServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55100/LoanBrokerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoanBrokerServiceSoap"
                contract="LoanBrokerService.LoanBrokerServiceSoap" name="LoanBrokerServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>