<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebBankSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53845/WebBank.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebBankSoap" contract="WebBankService.WebBankSoap"
                name="WebBankSoap" />
        </client>
    </system.serviceModel>
</configuration>